table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
}

table * {
  padding: 0;
  margin: 0;
}

table caption {
  text-align: left;
  font-style: italic;
}

thead th,
tfoot th {
  color: #fff;
  background: #5d7b9d;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th a.sortable,
tfoot th a:not(.selected) {
  text-decoration: underline;
  cursor: pointer;
}

tfoot th a:not(.selected) {
  font-weight: normal;
}

tbody tr {
  cursor: pointer;
}

tbody tr:not(.toggle-content):hover {
  text-decoration: underline;
}

tbody tr.selected {
  font-weight: bolder;
  color: #fff !important;
  background: #6E6E6E !important;
}

/* tbody tr:not(.hidden):nth-child(odd) { */
tbody tr:not(.hidden) {
  color: #000;
  background: #f7f6f3;
}

thead th,
tbody td,
tfoot th {
  text-align: left;
  vertical-align: top;

  overflow: hidden;
  white-space: nowrap;

  padding: 0;
  margin: 0;
  /* text-overflow: ellipsis; */
}

thead th.icon-toggle,
tbody td.icon-toggle {
  vertical-align: top;
}

thead th.icon-toggle img,
tbody td.icon-toggle img {
  margin: -5px;
}

thead th.icon-size,
tbody td.icon-size {
  width: 30px;
}

thead th span,
thead th a,
tbody td span {
  display: block;
  padding: 3px;
}

tfoot th a {
  display: inline-block;
  padding: 1.5px;
}

.hidden {
  display: none;
}

/* tableception */
.tableception thead th {
  z-index: 0;
}